## Count or Frequency Encoding

### High Cardinality

Another way to refer to variables that have a multitude of catgories, is to call them variables with High Cardinality

If we have categorical variables containing many multiple labels or high cardinality, then by using OHE, we will expand the feature space dramatically.

One approach that is heavily used in Kaggle competitions, is to replace each label of the categorical variable by the count, this is the amount of times each label appears in the dataset. Or the frequency, this is the percentage of observations within that category. The 2 are equivalent.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Mercedes.csv',usecols = ['X1','X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [3]:
df.shape

(4209, 2)

### One Hot Encoding

In [4]:
pd.get_dummies(df).shape

(4209, 71)

Upon using OHE, features have increased dramatically from 2 to 71 resulting in addition of 69 new columns.

In [5]:
len(df['X1'].unique())

27

In [6]:
len(df['X2'].unique())

44

In [7]:
for col in df.columns[0:]:
    print(col,' : ',len(df[col].unique()),'labels')

X1  :  27 labels
X2  :  44 labels

Lets take X1/X2 for now to understand

In [8]:
df.X2.value_counts()

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
i       25
k       25
b       21
ao      20
z       19
ag      19
d       18
ac      13
g       12
ap      11
y       11
x       10
aw       8
h        6
at       6
q        5
al       5
an       5
ah       4
av       4
p        4
au       3
af       1
j        1
c        1
am       1
ar       1
aa       1
l        1
o        1
Name: X2, dtype: int64

In [9]:
freq_map = df.X2.value_counts().to_dict()

In [10]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [11]:
df.X2 = df.X2.map(freq_map)
df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

There are some advantages and disadvantages that we will discuss now

#### Advantages

It is very simple to implement

Does not increase the feature dimensional space


#### Disadvantages

If some of the labels have the same count, then they will be replaced with the same count and they will loose some valuable information.

Adds somewhat arbitrary numbers, and therefore weights to the different labels, that may not be related to their predictive powe